.book_container {
    width: 100%;
    display: flex;
    padding: 1.5rem;
    margin-bottom: 0.3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid #e4e2e2c2;
}

.book {
    width: 50%;
}